@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --blue: #3677b3;
  --white: #EEEEEE;
  --mainBlack: hsla(0, 0%, 9%, 1);
  --secondBlack: hsla(0, 0%, 12%, 1);
  --orange: hsla(38, 96%, 54%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--white)
}

nav {
  background-color: var(--mainBlack);
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom: 3px solid var(--blue);
}

body {
  background-color: var(--secondBlack);
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

h1 {
  letter-spacing: 2px;
  font-size: 30px;
}

h1 span {
  color: var(--blue);
  margin-left: .2em;
}

nav h1 {
  z-index: 99;
}

hr {
  width: 55%;
  border-radius: 100%;
  margin: .5em;
}

i {
  min-height: 20px;
  min-width: auto;
}

.logo {
  width: 150px;
  max-height: 85px;
  object-fit: cover;
  opacity: 1;
  display: inline-block;
  object-position: 0 -20px;
  vertical-align: top;
  z-index: 99;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown {
  display: block;
  position: relative;
  z-index: 99;
  user-select: none;
  padding: 1em;

  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.dropdown span {
  display: block;
  position: relative;
  transform-origin: 0 0;
  z-index: 99;
  transition: 0.4s;

  background-color: var(--white);
  border-radius: 6px;
  width: 30px;
  height: 2px;
  margin-bottom: 4px;
}

.dropdown:hover span:nth-child(2) {
  transform: translateX(-5px);
  background-color: var(--blue);
}

.dropdown.is-active span:nth-child(1) {
  transform: translate(0px, -5px) rotate(45deg);
}

.dropdown.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.dropdown.is-active span:nth-child(3) {
  transform: translate(-3px, 4px) rotate(-45deg);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;

  display: block;
  z-index: 98;
  padding-top: 120px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;

  transition: 0.4s;
  text-decoration: none;
  background-color: var(--secondBlack);
}

.menu {
  display: none;
  flex: 1 1 43%;
  justify-content: center;
}

.menu a {
  margin: 0em 1em;
  transition: 0.4s;
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
  padding: .5em 1em;
}

.menu a.is-active, a:hover {
  background-color: var(--blue);
  box-shadow: 1px 1px 20px var(--blue);
}

/* Buttons begin*/

.buttons {
  display: none;
}

.buttons button {
  margin: 1em;
  text-transform: uppercase;
  font-weight: 600;
  padding: .5em 1em;
}

.login-button {
  background-color: transparent;
  color: var(--blue);
  border: 3px solid var(--blue);
  border-radius: 5px;
  transition: 0.4s;
}

.login-button:hover {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  box-shadow: 1px 1px 20px var(--blue);
}

.register-button {
  background-color: var(--orange);
  border: none;
  border-radius: 5px;
  transition: 0.4s;
  border: 3px solid transparent;
}

.register-button:hover {
  cursor: pointer;
  background-color: transparent;
  color: var(--orange);
  border: 3px solid var(--orange);
  box-shadow: 1px 1px 7px var(--orange) inset;
}

/* Buttons end*/

/* Footer begin */

footer {
  background-color: var(--mainBlack);
  width: 100vw;
  margin-top: auto;
}

footer h1 {
  margin-top: .5em;
}

.footer-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-top: 3px solid var(--blue);
  transition: 0.4s;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: .5em;
  transition: 0.4s;
}

/* Footer end */

/* Login begin */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(70vh - 1px);
}

.form-login {
  position: relative;
  max-width: 630px;
  width: 100%;
  background-color: var(--mainBlack);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
  border-radius: 5px;
  padding: 30px;
  border-top: 3px solid var(--blue);
}

.title {
  font-size: 30px;
  font-weight: 700px;
}

.inputfield {
  margin-top: 2em;
  position: relative;
  height: 50px;
  width: 100%;
}

.inputfield input {
  height: 100%;
  width: 100%;
  padding: 0 60px;

  border-style: none;
  outline: none;
  border-bottom: 3px solid var(--secondBlack);
  background-color: var(--mainBlack);
  transition: 0.3s;

  font-size: 1em;
}

.inputfield input:hover {
  border-bottom: 3px solid var(--blue);
}

.inputfield i {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-45%);
}

/* Login end */

/* 404 Begin */

.error-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40vh;
  margin-bottom: 50vh;

  position: relative;
  z-index: 1; 
}

.error-cont div {
  background-color: var(--mainBlack);
  border: 3px solid var(--blue);
  border-radius: 8px;
  box-shadow: 1px 1px 20px var(--blue);
  min-width: 538px;
  padding: 30px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-cont a {
  background-color: transparent;
  color: var(--blue);
  border: 3px solid var(--blue);
  border-radius: 5px;
  transition: 0.4s;
  text-decoration: none;
  
  margin-top: .5em;
  padding: 3px 5px;
}

.error-cont a:hover {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  box-shadow: 1px 1px 20px var(--blue);
}

/* 404 End */

@media (min-width: 868px) {
  .dropdown {
    display: none;
  }
  .menu, .buttons {
    display: flex;
  }
}